.mint-loadmore {
    flex-grow: 1;
    overflow-y: scroll;
    // height:4rem;
    .mint-loadmore-top {
        position: absolute;
        top: .75rem;
        margin-top: 0;
        height: .4rem;
        line-height: .4rem;
        z-index: 1;
        font-size: .14rem;
       // @include normal-font();
        width: 100%;
    }
}

.mint-indicator-wrapper{
    z-index: 999;
}

.picker{
    width: 100vw;
    .picker-toolbar{
        background: rgba(227,29,43,1);
        position: relative;
        span{
            position: absolute;
            display: inline-block;
            color: #ffffff;
            padding: 0 16px;
            height: 40px;
            line-height: 40px;
            font-size: .18rem;
        }
        .sure{
            right: .3rem;
        }
        .cancel{
            left:.3rem;
         }
    }
}
.mint-datetime-confirm{
    right:0rem;
}
.mint-loadmore .mint-loadmore-top {
    top: -.5rem;
}
.mint-loadmore-content {
    position: relative;
    top: 0rem;
    bottom: .5rem;
    right: 0px;
    left: 0px;
    overflow-y: scroll;
}